<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подбор специальности</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1> Введите ваши баллы ЕГЭ</h1>

    <table>
        <tr>
            <th>Предмет</th>
            <th>Баллы</th>
        </tr>
        <tr>
            <td>Математика</td>
            <td><input id="math" type="number"></td>
        </tr>
        <tr>
            <td>Физика</td>
            <td><input id="physics" type="number"></td>
        </tr>
        <tr>
            <td>Русский язык</td>
            <td><input id="russian" type="number"></td>
        </tr>
        <tr>
            <td>Химия</td>
            <td><input id="chemistry" type="number"></td>
        </tr>
        <tr>
            <td>Биология</td>
            <td><input id="biology" type="number"></td>
        </tr>
        <tr>
            <td>Иностранный язык</td>
            <td><input id="foreign" type="number"></td>
        </tr>
        <tr>
            <td>Информатика</td>
            <td><input id="computer" type="number"></td>
        </tr>
        <tr>
            <td>География</td>
            <td><input id="geography" type="number"></td>
        </tr>
        <tr>
            <td>Обществознание</td>
            <td><input id="social" type="number"></td>
        </tr>
    </table>

    
    <input id="acception" type="button" value="Подобрать варианты">
</body>
</html>
